apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Values.ingress.name }}
spec:
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: /users
            pathType: Prefix
            backend:
              service:
                name: {{ .Values.fastapi.name }}
                port:
                  number: 80
          - path: /posts
            pathType: Prefix
            backend:
              service:
                name: {{ .Values.fastapi.name }}
                port:
                  number: 80
          - path: /grafana
            pathType: Prefix
            backend:
              service:
                name: {{ .Values.ingress.grafanaService }}
                port:
                  number: 80
